@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -6%, 0) scale(1.1);
  }

  to {
    opacity: 1;
    transform: none scale(1);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translate3d(-5%, -2%, 0) scale(1.1);
  }

  to {
    opacity: 1;
    transform: none scale(1);
  }
}

.fade-in-down {
  animation-name: fade-in-down ;
}

.fade-in-left {
  animation-name: fade-in-left ;
}

.animated-2 {
  animation-duration: 3.5s;
  animation-fill-mode: both;
}

.animated-1 {
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
