.dark-bg {
  // background-image: -webkit-linear-gradient(top, #373737 0%, #373737 45%, #222322 98%);
  // background-image: linear-gradient(-180deg, #373737 0%, #373737 45%, #222322 98%);
  background: $brand-black;
}

.light-bg {
  background: #fff;
}
