// Buttons

.button {
  padding: 0.5rem;
  width: 12rem;
  height: 2.5rem;
  border-radius:20px;
  border: 1px solid $brand-red;
  background-color: $brand-red;
  text-align: center;
  color: #fff;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);
  @media  (min-width: $desktop){
    font-size: 14pt;
  }
  @media  (min-width: $tablet){
    font-size: 14pt;
  }

  &:hover{
    color: #fff;
    background-color: $brand-orange;
    border: 1px solid $brand-orange;
    transition: all 175ms ease-in;

  }

  &:active {
    transform: scale(0.95);
  }

  &-is-centered {

    width: 15rem;
    margin-left: auto;
    margin-right: auto;
  }

  &--is-full-width {
    display: block;
    width: 100%;
  }
}


a.button {
  text-decoration: none;
  display: block;
  width: 100%;
}
