@mixin btn {
  display: inline-block;
  border: 1px solid $brand-orange;
  background-color: transparent;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  color: $brand-orange;
  text-decoration: none;
  font-size: 13pt;
  -webkit-transition: all ease-in 250ms;
  transition: all ease-in 250ms;

  @media(min-width: $stnd-mobile) {
    font-size: 14pt;
  }
  @media(min-width: $tablet) {
    font-size: inherit;
  }
}

.btn {
  @include btn;

  &:hover {
    background-color: $brand-orange;
    color: #fff;
  }

  &:active {
    transform: scale(0.95);
  }
}

.fab {
  display: flex;
  align-items: center;
  position: fixed;
  top: 1rem;
  right: 0.5rem;
  height: 3.5rem;
  width: 3.5rem;
  border: 1px solid $brand-orange;
  background-color: rgba(255,255,255,0.16);
  border-radius: 100%;
  transition: all ease-in 250ms;

  .fab-icon {
    margin-left: auto;
    margin-right: auto;
  }

  &:active {
    transform: scale(0.95);
  }

  @media(min-width: $tablet) {
    display: none;
  }
}
