/** Form **/

.form-container {
  padding-top: 1rem;
}

.form-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  text-align: left;
  font-size: 16pt;
  color: #fff;
  @media (min-width: $tablet){
    font-size: 18pt;
  }
  @media (min-width: $desktop){
    padding-top: 4rem;
    font-size: 18pt;
  }
}

.contact-form {
  @include outer-container(800px);
    color: #fff;
    background: rgba(0,0,0,0.70);

  @media (min-width: $mobile){
    padding-left: 1.5rem;
    border-radius: 0;
  }
  @media (min-width: $tablet){
    padding-top: 1em;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 12pt;
    border-radius: 15px;
  }
  @media (min-width: $desktop){
    padding-top: 0rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
    font-size: 12pt;
  }
  @media (min-width: $large-screen){
    @include outer-container(1000px);
  }
}



.contact-form-name input,
.contact-form-email input,
.contact-form-number input{
  align-content: right;
}

.contact-form {
  &__field-container {
    @include outer-container;
  }

  &__field-column {
    padding: 0.3rem 0;

    @media (min-width: $tablet) {
      @include span-columns(6);
    }
  }

  &__input {
    @include span-columns(10);
    margin-top: 2rem;
    border: 0;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    color: #fff;
    &:focus {
      border-bottom: 1px solid $brand-orange;
      color: #fff;
    }
  }

  &__input-message {
    @include span-columns(10);
    object-position: center;
    border: 1px solid white;
    outline: none;
    background-color: transparent;
    margin-top: 1rem;
    font-size: 12pt;
    color: #fff;
    &:focus {
      border: 1px solid $brand-orange;
      color: #fff;
    }

    @media (min-width: $large-screen){
      @include outer-container(1000px);
    }

    @media (max-width: $big-mobile){
      display:none;
    }
  }

  .button {
    margin-top: 3rem;
    margin-bottom: 2rem;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: $brand-orange;
    border: 1px solid $brand-orange;
    color: #fff;

    &:hover{
      background-color: $brand-red-orange;
      border: 1px solid $brand-red-orange;
    }

    @media (min-width: $desktop){
      margin-top: 3rem;
      font-size: 14pt;
    }
    @media (min-width: $tablet){
      margin-top: 3rem;
    }
  }
}
