
.section-container {
  position: relative;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.call-out__section {
  min-height: 90vh;
  display: flex;
  align-items: flex-start;

  @media(min-width:$tablet){
    min-height: 100vh;
    align-items: center;
  }

}

.call-out__section-about {
  height: 100%;
  display: flex;
  align-items: flex-start;

  @media(min-width:$tablet){
    min-height: 100vh;
    align-items: center;
  }
}

.content-box {
  @include outer-container;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
  z-index: 1;
}

.third {
  margin-bottom: 2rem;
  @include span-columns(12 of 12);
  @media(min-width: $tablet) {
    @include span-columns(4 of 12);
  }
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.form-container {
  @media(min-width: $tablet) {
    @include outer-container(83.33%);
    min-height: 90vh;
  }
}

.column-v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-none {
  display: none;
}

.small-callout {
  min-height: 90vh !important;
}

.overflow-h {
  overflow: hidden;
}
