/** CTA **/

.cta {

  height: 150px;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  @media (min-width: $tablet){
  margin-top: 6rem;
  }

  .button {
    width: 12rem;
    background-color: $brand-orange;
    border: 1px solid $brand-orange;

    &:hover {
      transition: all 175ms ease-in;
      background-color: $brand-red-orange;
      border: 1px solid $brand-red-orange;
    }
  }
}
