.footer-home__container {
  @include outer-container(1200px);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-home__badges {
  @include outer-container(1000px);
  padding-left: auto;
  padding-right: auto;


  .academy-badge__thomas{
    padding: 5px;
    @include span-columns(6);
    margin-right: 0;
    max-width: 250px;
    @media (min-width: $tablet){
      @include span-columns(3);
      max-width: 300px;
    }
  }

  .academy-badge__thomas-email {
    padding: 5px;
    margin-top: 3px;
    @include span-columns(6);
    @include omega(2n)
    max-width: 250px;
    @media (min-width: $tablet) {
      @include span-columns(3);
      max-width: 300px;
    }
  }

  .academy-badge__chris {
    padding: 5px;
    @include span-columns(6);
    max-width: 250px;
    @media (min-width: $tablet){
      @include span-columns(3);
      max-width: 300px;
    }
  }
  .academy-badge__chris-email {
    padding: 5px;
    margin-top: 3px;
    @include span-columns(6);
    max-width: 250px;
    @media (min-width: $tablet){
      @include span-columns(3);
      max-width: 300px;
    }
  }
}
