.footer {
  position: relative;
  padding-bottom: 5rem;
  min-height: 90vh;

  @media(min-width: $tablet) {
    min-height: 30vh;
    padding-bottom: 2rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-bottom: 2rem;
  }

  &__column {
    width: 100%;

    @media(min-width: $tablet) {
      width: 31%;
    }

    &-title {
      color: #fff;
      transition: all 350ms ease-in;

      @media(min-width: $tablet) {
        color: inherit;
      }
    }

    &-body {
      font-size: 16px;
      color: #fff;
      transition: all 400ms ease-in;

      @media(min-width: $tablet) {
        color: inherit;
      }
    }

    &:hover{
      color: #fff;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding-left: 0;

    &-item {
      display: flex;
      flex-direction: row;
      margin-top: 0.5rem;
    }
  }




  &__social {

    &__icon {
      display: flex;
      align-items: center;
    }

    &__link {
      padding-left: 1rem;
      font-size: 16px;
      color: #fff;
      transition: all 400ms ease-in;

      &:hover {
        color: $brand-blue;
      }

      @media(min-width: $tablet) {
        color: inherit;
      }
    }
  }
}
