.footer-home__container {
  @include outer-container(1200px);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-home__badges {
  @include outer-container(900px);
  padding-left: auto;
  padding-right: auto;

  .academy-badge__thomas{
    @include span-columns(3);
    max-width: 300px;
  }

  .academy-badge__thomas-email {
    @include span-columns(3);
    padding-top: 2px;
    max-width: 300px;
  }

  .academy-badge__chris {
  @include span-columns(3);
  max-width: 300px;
  }

  .academy-badge__chris-email {
  @include span-columns(3);
  padding-top: 2px;
  max-width: 300px;
  }


}
