/** Hero **/

.hero {
  background-image:
    //linear-gradient(rgba(0, 0, 0, 0.3) 70%, rgb(17, 20, 26) 100%),
    linear-gradient(90deg, rgba(185,20,25,0.05) 0%, rgba(240,170,54,0.10) 100%),
    url(https://images.unsplash.com/photo-1447959945456-31956e248324?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f796c68bf4171c3c1c83a01b98b6f4ef);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  padding-top: 4rem;
  padding-bottom:5rem;
  text-align: center;

  @media (min-width: $tablet){
    padding: 7rem 1rem;
  }

  @media (min-width: $desktop){
    padding: 3rem 1rem;
  }

  @media (min-width: $large-screen){
    padding: 9rem 1rem;
  }
}

.hero-title,
.hero-title-byline {
  margin: 0;
  text-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);
}

.hero-title {
  @include outer-container(800px)
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 600;
}

.hero-title-byline {
  @include outer-container(800px)
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  color: $brand-orange;
  font-weight: bolder;
}
