/** Makes Us Unique **/

/*@include outer-container(1200px)*/
/*https://images.unsplash.com/photo-1440635592348-167b1b30296f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=370477211fd6605e597e0d1e9534d99e*/
.makes-us-unique {
  font-weight: 500;
}


.makes-us-unique h2 {
  color: #000;
  text-align: center;
  margin: 0;
  padding-bottom: 1.5rem;
  @media (min-width: $mobile){
    font-size: 20pt;
  }
  @media (min-width: $tablet){
    font-size: 28pt;
  }
  @media (min-width: $desktop){
    font-size: 28pt;
  }
}

.us__container {

  .us__inner-container {
    padding: none;
    margin: none;
    @include outer-container(80%);
    @media (min-width: $mobile){
      @include outer-container(100%)
    }
  }

  .us__content-block {
    padding-left: 1rem;
    padding-right: 1rem;
    @media (min-width: $mobile) {
      @include span-columns(12);
    }

    @media (min-width: $tablet) {
      @include span-columns(6);
    }

    @media (min-width: $desktop) {
      @include span-columns(6);
    }
  }


  .us__content-image {
    padding: none;
    margin: none;
    object-fit: fill;
    @media (min-width: $mobile) {
      @include span-columns(12);
    }

    @media (min-width: $tablet) {
      @include span-columns(6);
    }

    @media (min-width: $desktop) {
      @include span-columns(6);
    }
  }

  .us__content-block h3 {
    color: #000;
  }
  .us__content-block p {
    color: #000;
  }
}

.them__container {

  .them__inner-container {
    @include outer-container(80%);
      @media (min-width: $mobile){
      @include outer-container(100%)
    }
  }

  .them__content-block {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    @media (min-width: $mobile) {
      @include span-columns(12);
    }

    @media (min-width: $tablet) {
      @include span-columns(6);
    }

    @media (min-width: $desktop) {
      float: left;
      width: 50%;
    }
  }

  .them__content-image {
    padding: 0;
    margin: 0;

    @media (min-width: $mobile) {
      @include span-columns(12);
    }

    @media (min-width: $tablet) {
      @include span-columns(6);
    }

    @media (min-width: $desktop) {
      float: left;
      width: 50%;
    }
  }
}
