/** More Info **/

.more-info{
  background-image: linear-gradient(135deg, rgba(255,255,255,0.98) 1%, rgba(255,255,255,0.92) 100%),
  url('https://s3.amazonaws.com/reverb-consulting-website/vector-background.jpg');
}

.more-info__container{
  @include outer-container()
  @media (min-width: $tablet){
    @include outer-container(1500px);
    margin: 0;
  }
  @media (min-width: $large-screen) {
    @include outer-container(3000px);
  }
}
.more-info__container-content{
  padding: 1rem;
  @include span-columns(12);
  @media (min-width: $tablet){
    @include span-columns(6);
  }
  @media (min-width: $desktop){
    padding-top: 5rem;
  }
}

&__container-content h2 {
  color: #000;
  text-align: center;
  margin: 0;
  padding-bottom: 1.5rem;
  font-size: 18pt;
}

.red {
  color: $brand-red;
}

&__container-content p {
  color: #000;
  text-align: center;
  &:last-child {
    margin-bottom: 0rem;
  }

  @media (min-width: $tablet){
    color: #000;
    text-align: left;
  }
}

.more-info__container-img {
  @include span-columns(12);
  @media (min-width: $tablet){
    @include span-columns(6);
  }
}
.more-info__container-img img{
  height: auto;
  display: block;
  @media (min-width: $tablet){
    height: 800px;
    width: 100%;
  }
}
