/** services **/

.services {
  background-image: linear-gradient(135deg, rgba(255,255,255,0.86) 0%, rgba(255,255,255,0.84) 100%),
  url('https://s3.amazonaws.com/reverb-consulting-website/circle-background.jpg');
  background-size: cover;
  @include outer-container(1800px)
  padding: 2rem 1rem;
  background-color: #fff;
  opacity: 90%;
}

.services h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #010006;
  text-align: center;
}

.service-list {

  ul {
    padding-left: 0;
    @include clearfix;
    @include outer-container(750px)
  }

  li {
    @include span-columns(6);
    @include omega(2n);
    display: block;
    margin-top: 1.5rem;
    height: 125px;
    border: none;
    color: #010006;
    text-align: center;
    line-height: 1.5;
  }

  span {
      font-weight: 300;
  }
}
