.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pt3 {
  padding-top: 3rem;
}

.pt4 {
  padding-top: 4rem;
}

.pt5-desktop-only {
  @media(min-width: $tablet) {
    padding-top: 5rem;
  }
}

.pb0 {
  padding-bottom: 0;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pb3 {
  padding-bottom: 3rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.pb5 {
  padding-bottom: 5rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt5 {
  margin-top: 5rem;
}

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.svg-center {
  display: flex;
  justify-content: center;
}

.hero-spacing {
  padding-top: 1rem;
  @media(min-width: $tablet) {
   padding-top: 0;
  }
}

.h1-m-spacing {
  margin-top: 3rem;
  @media(min-width: $stnd-mobile) {
    margin-top: 4rem;
  }
  @media(min-width: $big-mobile) {
    margin-top: 6rem;
  }

}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.center-text {
  text-align: center;
}
