.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pt3 {
  padding-top: 3rem;
}

.pt4 {
  padding-top: 4rem;
}

.pt5-desktop-only {
  @media(min-width: $tablet) {
    padding-top: 5rem;
  }
}

.pb1 {
  padding-bottom: 1rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt5 {
  margin-top: 5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.svg-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hero-spacing {
  padding-top: 2rem;
  @media(min-width: $tablet) {
   padding-top: 0;

  }
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.center-text {
  text-align: center;
}
