/** Team **/

.the-team-container{
  background-image: linear-gradient(135deg, rgba(43,155,118,0.50) 1%, rgba(34,152,217,0.50) 80%),
  url(https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=c96a4a9947c18a322bfd38fd84225ccd);
  background-position:bottom;
  background-size: cover;
  background-attachment: fixed;
}

.the-team {
  @include outer-container(1000px)
  padding: 2rem 1rem;
}

.orange {
  color: $brand-red;
  font-weight: bold;
}

.the-team h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 1rem;

  @media (min-width: $mobile) {
    font-size: 24pt;
  }

  @media (min-width: $tablet) {
    font-size: 28pt;
  }

  @media (min-width: $desktop) {
    font-size: 36pt;
  }
}

.employee-title {
  font-weight: normal;
  font-size: 12pt;
}

.the-team-photos {
  @include outer-container(600px);

  ul {
    padding-left: 0px;
    @include clearfix;

    @media (min-width: $large-screen) {

    }
  }

  li {
    @include span-columns(6);
    display: block;
    line-height: 1.5;
    height: 150px;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }

  .avatar-team img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: bottom;
    @media (min-width: $tablet){
      height: 130px;
      width: 130px;
    }

  }
}
