/** Team **/

.the-team-container{
  background-image: linear-gradient(135deg, rgba(43,155,118,0.50) 1%, rgba(34,152,217,0.50) 80%),
  url(https://s3.amazonaws.com/reverb-consulting-website/stars-in-sky.jpeg);
  background-position:bottom;
  background-size: cover;
  background-attachment: fixed;
}

.the-team {
  @include outer-container(1000px)
  padding: 2rem 1rem;
}

.the-team h2 {
  margin-bottom: 4rem;
  margin-top: 1rem;
  color: #fff;
  text-align: center;
}

.the-team-photos {
  @include outer-container(700px);

  .avatar-team img {
    height: 150px;
    width: 100px;
    border-radius: 20%;
    object-fit: cover;
    object-position: top;
    @media (min-width: $tablet){
      height: 210px;
      width: 150px;
    }
  }

  ul {
    padding-left: 0px;
    @include clearfix;
  }

  li {
    @include span-columns(6);
    height: 150px;
    line-height: 1.5;
    color: #fff;
    font-weight: bold;
    text-align: center;
    @media (min-width: $tablet){
      font-size: 16pt;
    }
  }
}

.employee-title {
  font-weight: 300;
  font-size: 12pt;
  @media (min-width: $tablet){
    font-size: 16pt;
  }
}
