.light-text {
  text-align: left;
  color: #fff;
}

.dark-text {
  text-align: left;
  color: $brand-black;
}

.thin {
  font-weight: 200;
}

.thick {
  font-weight: 500;
}

.normal {
  font-weight: 400;
}


.red-text {
  color: $brand-red;
}
