.text-right {
  text-align: right;
}

.light-text {
  text-align: left;
  color: #fff;
}

.dark-text {
  text-align: left;
  color: $brand-black;
}

.blue-text {
  text-align: left;
  color: $brand-blue;
}

.gray-text {
  color: $brand-grey
}

.red-text {
  color: $brand-red;
}

.orange-text {
  color: $brand-orange;
}


.thin {
  font-weight: 200;
}

.thick {
  font-weight: 500;
}

.normal {
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.cite-text {
  text-decoration: none;
  color: $brand-blue;
}

.text-center {
  text-align: center;
}
