$mobile: 0;
$stnd-mobile:350px;
$big-mobile: 400px;
$tablet: 700px;
$desktop: 1000px;
$large-screen: 1600px;

$small-form-start: 645px;
$small-form-end: 1000px;

$narrow-screen: 830px;
$index-hero: 900px;
