
$brand-red-orange: #DC412D;
$brand-orange: #F0AA37;
$brand-red: #B91419;
$brand-grey: #5A5A5A;

$brand-blue-green: #2B9A9C;
$brand-blue: #2299D9;
$brand-green: #2B9B76;

$brand-pink-navy: #632F5C;
$brand-pink: #D52657;
$brand-navy: #384F97;

$brand-black: #222322;

$primary-color: $brand-orange;
$secondary-color: $brand-red;
$tertiary-color: $brand-red-orange;
$font-color: $brand-grey;
