// Buttons

.button {
  padding: 0.5rem;
  border-radius:3px;
  border: 1px solid $tertiary-color;
  color: $tertiary-color;
  text-align: center;
  font-weight: 600;
  font-size: 14pt;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);
  @media  (min-width: $desktop){
    font-size: 18pt;
  }
  @media  (min-width: $tablet){
    font-size: 16pt;
  }

  &:hover{
    color: #fff;
    font-weight: bold;
    background-color: $tertiary-color;
    transition: all 175ms ease-in;
  }

  &:active {
    transform: scale(0.95);
  }

  &-is-centered {
    height: 3rem;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
  }

  &--is-full-width {
    display: block;
    width: 100%;
  }
}


a.button {
  text-decoration: none;
  display: block;
  width: 100%;
}
