.header {
  padding: 1rem;
  display: flex;
  align-items: center;
  @media (min-width: $tablet){
    @include outer-container(1200px)
  }
  @media (min-width: $desktop){
    @include outer-container(1200px)
  }
}

.header .logo {
  width: 50%;
  @media (min-width: $tablet){
    max-width: 20%;
    margin-left: 2rem;
  }
  @media (min-width: $desktop){
    max-width: 15%;
  }
}
