/** services **/

.services {
  @include outer-container(1200px)
  padding: 2rem 1rem;
  background-color: #fff;
  opacity: 90%;
}

.services h2 {
  color: #010006;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.service-list {

  ul {
    padding-left: 0;
    @include clearfix;
    @include outer-container(850px)
  }

  li {
    @include span-columns(6);
    @include omega(2n);
    display: block;
    line-height: 1.5;
    margin-top: 1.5rem;
    height: 125px;
    border: none;
    color: #010006;
    text-align: center;
  }
}
