.services-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 25rem;
  margin-bottom: 15rem;

  @media(min-width: $tablet) {

  }

  @media(min-width: $desktop) {

  }

  &__content {
    order: 1;
    margin-top: 40px;
    height: 100%;
    width: 80%;
    z-index: 1;

    @media(min-width: $tablet) {
      width: 557px;
    }

    @media(min-width: $desktop) {

    }
  }

  &__title {
    padding-bottom: 10px;
    padding-left: 15px;
    font-family: 'National2';
    font-weight: 700;
    font-size: 24px;
    color: $dark-blue;
    letter-spacing: -0.36px;

    @media(min-width: $tablet) {

    }

    @media(min-width: $desktop) {
      border-bottom: 2px solid $blue;
    }
  }

  &__body {
    margin-bottom: 40px;
    width: 100%;
    padding-left: 10px;
    font-family: 'National2';
    font-weight: 300;
    font-size: 18px;
    color: $dark-blue;
    letter-spacing: 0.25px;
    line-height: 28px;

    @media(min-width: $tablet) {
      width: 600px;
    }

    @media(min-width: $desktop) {
      width: 900px;
    }
  }

  &__btn {
    border: 1px solid $gold;
    margin-left: 10px;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $gold;
    font-family: 'National2';
    font-size: 12px;
    letter-spacing: 3.6px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 250ms ease;

    &:hover {
      background-color: $gold;
      color: white;
    }

    @media(min-width: $tablet) {

    }

    @media(min-width: $desktop) {

    }
  }

  &__image {
    order: 2;
    margin-left: -310px;
    margin-top: -220PX;
    height: 328px;
    width: 344px;
    border: 2px solid $blue;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ), url('../../assets/images/content.png');
    z-index: 0;

    @media(min-width: $tablet) {
      margin-left: 0;
      margin-top: 0;
    }

    @media(min-width: $desktop) {

    }
  }
}
