.services-seo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15rem;
  margin-bottom: 15rem;


  &__content {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 40px;
    margin-left: 260px;
    height: 100%;
    width: 314px;
    z-index: 1;

    @media(min-width: $tablet) {
      margin-left: 0px;
      width: 557px;
    }
  }

  &__title {
    width: 100%;
    padding-bottom: 10px;
    padding-right: 15px;
    text-align: left;
    font-family: 'National2';
    font-weight: 700;
    font-size: 24px;
    color: $dark-blue;
    letter-spacing: -0.36px;

    @media(min-width: $tablet) {
      text-align: right;
    }

    @media(min-width: $desktop) {
      border-bottom: 2px solid $blue;
    }
  }

  &__body {
    margin-left: -450px;
    width: 121%;
    padding-left: 10px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: justify;
    font-family: 'National2';
    font-weight: 300;
    font-size: 18px;
    color: $dark-blue;
    letter-spacing: 0.25px;
    line-height: 28px;

    @media(min-width: $tablet) {
      width: 610px;
      padding-right: 0px;
      padding-right: 20px;
      text-align: right;
    }

    @media(min-width: $desktop) {
      width: 900px;
      padding-right: 0px;
    }
  }

  &__btn {
    border: 1px solid $gold;
    margin-top: 15px;
    margin-right: 25px;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $gold;
    font-family: 'National2';
    font-size: 12px;
    letter-spacing: 3.6px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 250ms ease;

    &:hover {
      background-color: $gold;
      color: white;
    }

    @media(min-width: $tablet) {
      margin-right: 0px;
    }
  }

  &__image {
    order: 1;
    margin-right: -540PX;
    margin-top: -170px;
    height: 295px;
    width: 335px;
    border: 2px solid $blue;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ), url('../../assets/images/seo.png');
    z-index: 0;

    @media(min-width: $tablet) {
      margin-right: -200PX;
      margin-top: 0px;
      height: 345px;
      width: 519px;
    }

    @media(min-width: $desktop) {
      margin-right: 0PX;
    }
  }
}
