.service-title {
  display: inline-block;
}

.service-icon {
  margin-left: 3rem;
}

.service-icon-m {
  margin-right: 1rem;
}

.service-content {
  @media(min-width: $tablet) {
    @include span-columns(11);
  }
}

.service-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 4rem;

  @media(min-width:$tablet){
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.services-container {
  @media (min-width: $tablet) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
