* {
  -webkit-font-smoothing: antialiased;
/* WebKit/Blink Browsers */
}

::selection {
color:$brand-orange;
}

html {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {

  font-family: 'Work Sans', sans-serif;
  font-size: 16pt;
  height: 100%;
  width: 100%;
  overflow: auto;

  @media (min-width: $desktop){
    font-size: 18pt
  }
}

p {
  line-height: 1.6;
  font-weight: 400;
  color: $brand-black;
}

li {
  line-height: 1.6;
}



h1 {
  color: $brand-black;
  font-weight: 200;
  letter-spacing: -0.43px;
  font-size: 30pt;
  @media (min-width: $tablet) {
    font-size: 36pt;
  }
  @media (min-width: $desktop) {
    font-size: 40pt;
  }
}


h2 {
  color: $brand-black;
  font-weight: 200;
  @media (min-width: $mobile){
    font-size: 30pt;
  }
  @media (min-width: $desktop){
    font-size: 38pt;
    letter-spacing: -2px;
  }

}

h3 {
  color: $brand-black;
  font-weight: 400;
  @media (min-width: $mobile){
    font-size: 18pt;
  }
  @media (min-width: $tablet){
    font-size: 24pt;
  }
  @media (min-width: $desktop){
    font-size: 26pt;
    letter-spacing: -2px;
  }

}
