
<header class="nav-bar">
  <div class="">
    <img class="nav-bar__logo" src="{{ site.white-logo }}">
  </div>
  <div id="menuButton">
    <img class="nav-bar__menu-button" src="{{ site.menu-button }}">
  </div>
</header>

<div class="nav-modal">
  <div class="nav-modal__header">
    <div class="nav-bar__logo">
      <img class="logo-image" src="{{ site.logo }}">
    </div>
    <div id="closeMenuButton" class="nav-modal__menu-button">
      <img class="" src="{{ site.close-menu-button }}">
    </div>
  </div>
  <nav class="nav-modal__nav-list">
    {% include components/nav-link.html text="home"  destination=""%}
    {% include components/nav-link.html text="about" destination="about"%}
    {% include components/nav-link.html text="services" destination="services"%}
    {% include components/nav-link.html text="blog" destination="blog"%}
    {% include components/nav-link.html text="contact" destination="contact"%}
  </nav>
  <div class="nav-modal__link-description">
    welcome, were're glad you came.
  </div>
  <div class="nav-modal__social-links">
    {% include components/social-links.html %}
  </div>
</div>
