.title-text {
  @include span-columns(12 of 12)
  @media (min-width: $tablet) {
    @include span-columns(8 of 12);
  }
}

.title-icon {
  @media (min-width: $desktop) {
    @include span-columns(4 of 12)
  }
}

.home-page__about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.squares-svg {
  width: 130px;
}
