
/**** slider ****/

#slider, .slider-list {
  height: 900px;
  @media(min-width: $tablet) {
    height: 500px;
  }
}

#slider {
  margin: auto;
  overflow: hidden;
  padding: 20px;
  margin-top: 50px;
  position: relative;
  width: 350px;
  @media(min-width: $tablet) {
    width: 900px
  }

  .slider-list-item {
    float: left;
    position: relative;
    width: 350px;
    display: inline-block;
    height: 200px;
    @media(min-width: $tablet) {
      width: 900px
    }
  }

   .slider-list {
    list-style: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9000px;
    transition: left .3s linear;
    -moz-transition: left .3s linear;
    -o-transition: left .3s linear;
    -webkit-transition: left .3s linear;
    margin-left: -25px;
  }
}

/*** Content ***/

.slider-container {
  margin: 0 auto;
  padding: 0;
  width: 340px;
  min-height: 180px;
  border-bottom: 1px solid #ccc;
  @media(min-width: $tablet) {
    width: 850px
  }

  p {
    margin-bottom: 1.5em;
    line-height: 150%;
    text-align: left;
  }
}

/*** target hooks ****/

@-webkit-keyframes slide-animation {
  20% { left: 0px; opacity: 1; }
  25% { left: -900px; opacity: 1; }
  45% { left: -900px; opacity: 1 ; }
  50% { left: -1800px; opacity: 1; }
  70% { left: -1800px; opacity: 1; }
  75% { left: -2700px; opacity: 1; }
  98% { left: -2700px; opacity: 0; }
  100% { left: 0px; opacity: 0;}
}

@-webkit-keyframes slide-animation-m {
  20% { left: 0px; opacity: 1; }
  25% { left: -350px; opacity: 1; }
  45% { left: -350px; opacity: 1 ; }
  50% { left: -700px; opacity: 1; }
  70% { left: -700px; opacity: 1; }
  75% { left: -1050px; opacity: 1; }
  98% { left: -1050px; opacity: 0; }
  100% { left: 0px; opacity: 0;}
}

 .slider-list {
   -webkit-animation: slide-animation-m 25s infinite;
   @media(min-width: $tablet) {
     -webkit-animation: slide-animation 25s infinite;
   }

   &:hover {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
  }
}
