.form-text {
  font-size: 1.5rem;
  @media(min-width: $tablet) {
  font-size: 1.5em;
  }
}

.contact-form {
  &__input {
    margin-top: 2rem;
    border: 0;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    color: $brand-orange;
    text-align: center;
    width: 20rem;

    @media(min-width: $tablet) {
      width: 28rem;
    }

    &:focus{
      border-bottom: 2px solid $brand-blue;
    }
  }

  &__select-input {
    width: 100%;
    margin-top: 2rem;
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    color: $brand-orange;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#F0AA37' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;

  }

  &__label {
    display: inline-block;
    margin-top: 2rem;
  }

  &__select-label {
    display: inline-block;
    margin-top: 4rem;
  }
}
