


.team-member {

  display: flex;
  flex-direction: column;

  @media(min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__photo {
    width: 100%;;
    @media(min-width: $tablet) {
      width:33.33%;
    }

    &-img {
      margin-top: 0.5rem;
      max-height: 250px;
      overflow: hidden;
    }
  }

  &__content {
    width: 100%;
    @media(min-width: $tablet) {
      width: 48%;
      margin-left: 2rem;
    }


    &__name {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-bottom: 0px;
      padding-top: 0px;
      vertical-align: top;
    }

    &__bio {
      margin-top: 0.5rem;

      @media(min-width: $tablet) {
        font-size: 16px;
      }
    }
  }
}
