.about-hero{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-180deg, #0A2044 0%, #041322 100%);

  &__sound-wave {
    margin-top: 100px;

    @media(min-width: $desktop) {
      margin-top: 200px;
    }
  }

  &__title {
    margin-top: 150px;
    padding: 0 10px;
    color: white;
    text-align: center;
    font-family: "National2", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-size: 32px;
    letter-spacing: -0.75px;
    line-height: 36px;

    @media(min-width: $tablet) {
      margin-top: 100px;
      padding: 0 0;
      font-size: 54px;
      letter-spacing: -0.75px;
      line-height: 56px;
    }

    @media(min-width: $desktop) {

    }

    &-border {
      margin: 45px auto;
      margin-top: 40px;
      height: 1px;
      width: 250px;
      background: $off-white;
    }
  }
}

.about-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;

  @media(min-width: $tablet) {

  }

  @media(min-width: $desktop) {

  }


  &__title {
    margin-bottom: 50px;
    color: $blue;
    font-family: "National2", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -0.5px;
    line-height: 40px;

    @media(min-width: $tablet) {
      font-size: 85px;
      letter-spacing: -1px;
      line-height: 100px;
    }

    @media(min-width: $desktop) {
      font-size: 120px;
    }
  }

  &__body {
    width: 975px;
    color: white;
    max-width: 80%;
    text-align: center;
    font-family: "National2", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;

    @media(min-width: $tablet) {
      font-size: 18px;
      letter-spacing: 0.19px;
      line-height: 32px;
    }

    @media(min-width: $desktop) {

    }
  }
}

.about-serve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;

  @media(min-width: $tablet) {

  }

  @media(min-width: $desktop) {

  }

  &__title {
    margin-bottom: 25px;
    color: #E5E5E5;
    font-family: "National2", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-weight: 700;
    font-size: 46px;
    letter-spacing: -0.77px;
    line-height: 32px;

    @media(min-width: $tablet) {
      font-size: 85px;
      letter-spacing: -2px;
      line-height: 100px;
    }

    @media(min-width: $desktop) {
      font-size: 120px;
    }
  }

  &__body {
    width: 975px;
    max-width: 80%;
    text-align: justify;
    color: #1D1E1E;
    font-family: "National2", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;

    @media(min-width: $tablet) {
      text-align: justify;
      font-size: 18px;
      letter-spacing: 0.32px;
      line-height: 32px;
    }

    @media(min-width: $desktop) {
      text-align: center;
    }
  }
}

.about-values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;

  @media(min-width: $tablet) {
    padding-top: 0;
  }

  @media(min-width: $desktop) {

  }

  &__title {
    margin-bottom: 100px;
    color: $blue;
    font-family: "National2", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-weight: 700;
    font-size: 46px;
    letter-spacing: -0.38px;
    line-height: 44px;

    @media(min-width: $tablet) {
      font-size: 85px;
      letter-spacing: -1px;
      line-height: 100px;
    }

    @media(min-width: $desktop) {
      font-size: 120px;
    }
  }

  &__list {
    display: block;

    @media(min-width: $tablet) {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 75px;
      width: 100%;
      padding-left: 60px;
    }

    @media(min-width: $desktop) {
      justify-content: space-around;
      margin-top: 75px;
      margin-bottom: 75px;
      width: 1000px;
      padding-left: 0;
    }
  }
}

.value {
  position: relative;
  width: 215px;
  margin-top: 50px;
  margin-bottom: 100px;

  &:last-child {
    margin-bottom: 50px;
  }

  @media(min-width: $tablet) {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media(min-width: $desktop) {

  }

  &__number {
    position: absolute;
    top: -70px;
    left: -30px;
    font-family: "National2", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-weight: 700;
    font-size: 120px;
    color: $blue;
    letter-spacing: -1px;
    z-index: 0;

    @media(min-width: $tablet) {

    }

    @media(min-width: $desktop) {

    }
  }

  &__title {
    width: 290px;
    position: relative;
    color: $gold;
    font-family: "National2", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-weight: 300;
    font-size: 28px;
    letter-spacing: -0.25px;
    z-index: 1;

    @media(min-width: $tablet) {
      font-size: 34px;
      width: 170px;
    }

    @media(min-width: $desktop) {
      width: 300px;
    }
  }

  &__body {
    position: relative;
    font-family: "National2", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-size: 14px;
    color: white;
    letter-spacing: -0.25px;
    line-height: 24px;
    z-index: 1;

    @media(min-width: $tablet) {
      width: 160px;
    }

    @media(min-width: $desktop) {
      width: 250px;
    }
  }
}

.about-founder {
  padding-left: 30px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;


  @media(min-width: $tablet) {
    padding: 110px 120px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media(min-width: $desktop) {

  }

  &__image {
    width: 166px;
    height: 240px;
    background-color: #F1F1F1;

    @media(min-width: $tablet) {
      width: 442px;
      height: 640px;
    }

    @media(min-width: $desktop) {

    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    max-width: 90%;

    @media(min-width: $tablet) {
      margin-top: 0;
      max-width: 600px;
    }

    @media(min-width: $desktop) {

    }
  }

  &__title {
    width: 85%;
    align-self: flex-end;
    margin-left: -125px;
    margin-top: -100px;
    margin-bottom: 0;
    padding: 20px;
    background-color: white;
    color: #E5E5E5;
    text-align: left;
    font-family: "National2", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -0.67px;
    line-height: 50px;

    @media(min-width: $tablet) {
      align-self: flex-start;
      margin-top: 0;
      padding: 30px;
      font-size: 90px;
      letter-spacing: -1.5px;
      line-height: 100px;
    }

    @media(min-width: $desktop) {

    }
  }

  &__body {
    padding-left: 20px;
    font-family: "National2", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-size: 18px;
    color: #1D1E1E;
    letter-spacing: 0.25px;
    line-height: 32px;

    @media(min-width: $tablet) {

    }

    @media(min-width: $desktop) {

    }
  }
}
