
$brand-red-orange: #DC412D;
$brand-orange: #F0AA37;
$brand-red: #B91419;
$brand-grey: #5A5A5A;



$primary-color: $brand-orange;
$secondary-color: $brand-red;
$tertiary-color: $brand-red-orange;
$font-color: $brand-grey;
