* {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'proxima-nova', sans-serif;
  @media (min-width: $tablet){
    font-size: 14pt
  }
  @media (min-width: $desktop){
    font-size: 18pt
  }
}

p {
  line-height: 1.4;
}
