<div class="contact-modal">
  <div class="contact-modal__header">
    <div class="contact-bar__logo">
      <img class="logo-image" src="{{ site.logo }}">
    </div>
    <div id="closeModalButton" class="contact-modal__menu-button">
      <img class="" src="{{ site.close-menu-button }}">
    </div>
  </div>
  <form class="" action="index.html" method="post">
    <input type="text" name="" value="">
    <input type="text" name="" value="">
    <input type="text" name="" value="">
    <textarea name="name" rows="8" cols="80"></textarea>
  </form>
  <div class="contact-modal__social-icons">
    {% include components/social-icons.html %}
  </div>
</div>
