.nav-container {
  position: fixed;
  z-index: 1000;
  height: 10vh;
  width: 100%;
  bottom: 0;
  top: auto;
  background-color: $brand-black;
  padding-bottom: 0.5em;

  @media(min-width: $tablet) {
    top: 0;
    bottom: auto;
  }
}

.header-wrap {
  @include outer-container;

  .header {
    display: flex;
    align-items: center;
  }

  .logo {
    display: none;
    @media(min-width: $tablet) {
      @include span-columns(2 of 12)
      margin-left: 1rem;
    }
  }

  .navigation-links {
    @include span-columns(12 of 12)

    @media(min-width: $tablet) {
      @include span-columns(7 of 12)
    }
    ul {
      padding: 0px;
      margin: 0px;
      text-align: center;
      @media(min-width: $tablet) {
        text-align: left;
      }

      li {
        list-style: none;
        display: inline-block;
        margin-left: 0.5rem;
        padding-bottom: 0.5rem;
        @media(min-width: $tablet) {
          padding-bottom: 0;
          margin-left: 2rem;
        }

        a {
          display: block;
          text-decoration: none;
          text-align: center;
          font-weight: 500;
          font-size: 14px;
          color: #fff;
          -webkit-transition:  ease-in 500ms;
          transition: ease-in 500ms;
          @media(min-width: $tablet) {
            font-size: 16px;
          }
        }
      }
    }
  }

  .phone-container {
    display: none;
    align-self: flex-start;

    &__inner-div {
      margin-top: 5px;
    }
    @media(min-width: $tablet) {
      @include span-columns(3 of 12)
      .phone-num {
        display:block;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        color: $brand-blue;
        text-align: right;
      }

    .phone-cta {
        margin: 0;
        font-style: italic;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        text-align: right;
      }
    }
  }

}
