---
layout: default
---
<div class="dark-bg">
  <main class="about-hero">
    <div class="about-hero__sound-wave">
      <img src="/assets/icons/about-us-wave.svg" alt="reverb-consulting-about-us">
    </div>
    <h1 class="about-hero__title">
      A little more about the team you’ll work with.
      <div class="about-hero__title-border">

      </div>
    </h1>
  </main>

  <section class="about-intro">
    <h2 class="about-intro__title">
      Marketing for <br>
				&nbsp;&nbsp;&nbsp;&nbsp;the present day
    </h2>
    <p class="about-intro__body">
      We are a marketing company, specializing in the digital marketplace. Our
      priority is our clients, and as a result, we keep ourselves up to date
      with the latest in digital trends to serve them better. We offer a variety
      of services to our clients and we tailor our work to best suit their
      unique requirements.
      <br><br>
      While website design is a staple for most of our clients, we also provide
      digital advertisement packages, ecommerce to keep you ahead of the curve,
      search engine optimization, and content for all your digital marketing needs.
      We believe there is an unlimited potential with every client we work with
      and that is why we shape ourselves services around our clients, not the other way around.
    </p>
  </section>
</div>

<section class="about-serve">
  <h1 class="about-serve__title">We aim to serve.</h1>
  <p class="about-serve__body">
    Your company is unique and because of this, we customize our marketing
    strategy to meet your business’ requirements. Reverb is dedicated to
    providing you with the best care possible and we won’t drag you through
    unnecessary processes for our gain. Our foundation is built on giving our
    clients the best in honest care that we can provide, even if it means
    recommending another company that would be better suited to your needs.
  </p>
</section>

<section class="dark-bg about-values">
  <h2 class="about-values__title">
    The values <br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;that drive us
  </h2>

  <div class="about-values__list">
    <div class="value">
      <span class="value__number">1</span>
      <h3 class="value__title">
        Creativity
      </h3>
      <p class="value__body">
        Thinking of novel and productive ways to
        conceptualise and do things; includes artistic achievement but we’re
        not limited to it
      </p>
    </div>
    <div class="value">
      <span class="value__number">2</span>
      <h3 class="value__title">
        Love of learning
      </h3>
      <p class="value__body">
        Mastering new skills, topics, and bodies of knowledge, whether on our
        own or formally.
      </p>
    </div>
    <div class="value">
      <span class="value__number">3</span>
      <h3 class="value__title">
        Humor
      </h3>
      <p class="value__body">
        Liking to laugh; bringing smiles to other people; seeing the
        light side of life.
      </p>
    </div>
  </div>

  <div class="about-values__list">
    <div class="value">
      <span class="value__number">4</span>
      <h3 class="value__title">
        Judgment
      </h3>
      <p class="value__body">
        Thinking things through and examining them from all sides; not jumping
        to conclusions; being able to change our mind in light of evidence;
        weighing all evidence impartially.
      </p>
    </div>
    <div class="value">
      <span class="value__number">5</span>
      <h3 class="value__title">
        Appreciation of Beauty &amp; Excellence
      </h3>
      <p class="value__body">
        Noticing and appreciating beauty, excellence, and/or skilled performance
        in various domains of life, from nature to art to mathematics to science
        to everyday experience.
      </p>
    </div>
    <div class="value">
      <span class="value__number">6</span>
      <h3 class="value__title">
         Curiosity
      </h3>
      <p class="value__body">
        Taking an interest in ongoing experience for its own sake; finding
        subjects and topics fascinating; exploring and discovering.
      </p>
    </div>
  </div>

  <div class="about-values__list">
    <div class="value">
      <span class="value__number">7</span>
      <h3 class="value__title">
        Honesty
      </h3>
      <p class="value__body">
        Speaking the truth but more broadly presenting ourself in a genuine
        way and acting sincerely; being without pretence; taking responsibility
        for our feelings and actions.
      </p>
    </div>
    <div class="value">
      <span class="value__number">8</span>
      <h3 class="value__title">
        Perspective
      </h3>
      <p class="value__body">
        Being able to provide wise counsel to others; having ways of looking
        at the world that make sense to ourselves/others.
      </p>
    </div>
    <div class="value">
      <span class="value__number">9</span>
      <h3 class="value__title">
        Bravery
      </h3>
      <p class="value__body">
        Not shrinking from threat, challenge, difficulty, or pain; speaking up
        for what’s right even if there’s opposition; acting on convictions
        even if unpopular.
      </p>
    </div>
  </div>

  <div class="about-values__list">

    <div class="value">
      <span class="value__number">10</span>
      <h3 class="value__title">
        Perseverance
      </h3>
      <p class="value__body">
        Finishing what we start; persevering in a course of action in spite of
        obstacles; “getting it out the door”; taking pleasure in completing tasks.
      </p>
    </div>

  </div>

</section>

<section class="about-founder">
  <div class="about-founder__image">

  </div>
  <div class="about-founder__content">
    <h2 class="about-founder__title">
      Our Founder.
    </h2>
    <p class="about-founder__body">
      Thomas is a free thinker who is constantly researching new methods to
      achieve personal set goals and higher levels of success. Thomas has the
      ability to shine a new light on old problems and tackles each challenge
      with a gusto that makes him a true entrepreneur. When he isn’t working,
      you can find Thomas jamming out on his guitar, doting on his beautiful
      wife, or watching philosophy lectures online.
    </p>
  </div>
</section>
