---
layout: default
---

<div class="wrapper">

  <section class="section-container call-out__section-about hero-spacing dark-bg ">
    <div class="content-box">
      <div class="logo-mobile">
        <img class="logo-image" src="{{ site.logo }}">
      </div>
      <h1 class="light-text about-h1">
        Re·ver·ber·a·tion
      </h1>
      <p class="light-text">
        <ol>
          <li class="light-text">
            prolongation of a sound; resonance. <br>
            <span class="gray-text">"electronic effects have been added, such as echo and reverberation"</span>
          </li>
          <li class="orange-text">
            a continuing effect; a repercussion. <br>
            <span class="gray-text">"the campaign has had reverberations around the world"</span>
          </li>
        </ol>
      </p>
    </div>
  </section>

  <section class="section-container call-out__section-about light-bg edge--top">
    <div class="content-box">
      <h2 class=" mb3">
        We're here to Leave an impact
      </h2>
      <p>
        We create marketing & products that have an impact. Our goal is not simply
        be a service provider for your short term needs, but to be an agent of change
        for your comapny. We want to create something for your business that has
        a long term impact. That means understanding what needs to happen in the
        short term, but understanding the long view of your company.
      </p>
      <p>
        If you are looking for a short term effect, or somone to work with you
        over the next couple months. We are not your team.
      </p>
    </div>
  </section>

  <section class="section-container call-out__section-about dark-bg edge--bottom edge--top--reverse">
    <div class="content-box">
      <h2 class="light-text mb3">
        We're normal people.
      </h2>
      <p class="light-text">
        We are a team of people obessed with learning, improving our skills,
        getting rid of all the BS in marketing and having a good time while
        doing it. Life is short, and so we strive to be the very best at
        everything we do. However, we make sure we can laugh and have a good time
        in the process.
      </p>
    </div>
  </section>

  <section class="section-container light-bg edge--bottom--reverse edge--top">
    <div class="content-box m-text">
      <div>
        <h2>
          Our Awesome Team
        </h2>

        <div class="team-member">
          <div class="team-member__photo">
            <div class="team-member__photo-img">
              <img
                class="image"
                src="https://s3.amazonaws.com/reverb-consulting-website/IMG_1036-3.jpg"
                alt=""
              />
            </div>
            <div class="team-member__photo-contact-icons">
              <a class="team-member__photo-contact-icons__icon" href="#">
                <svg width="14" height="24" viewBox="360 316 14 25" xmlns="http://www.w3.org/2000/svg">
                  <path d="M373.002 319.487v-1.756c0-.95-.77-1.722-1.722-1.722h-8.56c-.95 0-1.722.77-1.722 1.723v20.555c0 .952.772 1.723 1.723 1.723h8.56c.95 0 1.72-.77 1.72-1.723l.002-18.798zm-11.003.5H372v16.042H362v-16.043zm5 18.777c-.415 0-.75-.336-.75-.75s.335-.75.75-.75c.414 0 .75.336.75.75s-.336.75-.75.75z" fill="#fff" fill-rule="evenodd"></path>
                </svg>
              </a>
              <a class="team-member__photo-contact-icons__icon" href="mailto:thomas@reverbconsulting.com">
                <svg width="24" height="24" viewBox="41 851 24 24" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none" fill-rule="evenodd">
                    <path d="M61 855H45c-1.1 0-1.99.9-1.99 2L43 869c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm0 4l-8 5-8-5v-2l8 5 8-5v2z" fill="#fff"/>
                    <path d="M41 851h24v24H41"/>
                  </g>
                </svg>
              </a>
            </div>
          </div>
          <div id="team-description"  class="team-member__content">
            <h3 class="team-member__content__name">
              Thomas Hamilton - President
            </h3>
            <p class="team-member__content__bio">
              Thomas is a strategic, big picture thinker, with a strong
              creative flair. He loves communicating and talking with people,
              and lives to create new and unique marketing strategies. No matter
              what he looks at, he is always able to find a new and creative way
              to create strategy and solve problems while keeping long term goals
              in mind. On day to day he will be the one keeping you up to date,
              and providing digital insights. In his free time you can find him
              playing guitar, enjoying a coffee [or pint] with friends, or
              spending time with his beautiful wife and small puppy.
            </p>
          </div>
        </div>

        <div class="team-member">
          <div class="team-member__photo">
            <div class="team-member__photo-img">
              <img
                class="image"
                src="https://s3.amazonaws.com/reverb-consulting-website/IMG_0892.jpg"
                alt=""
              />
            </div>
            <div class="team-member__photo-contact-icons">
              <a class="team-member__photo-contact-icons__icon" href="#">
                <svg width="14" height="24" viewBox="360 316 14 25" xmlns="http://www.w3.org/2000/svg">
                  <path d="M373.002 319.487v-1.756c0-.95-.77-1.722-1.722-1.722h-8.56c-.95 0-1.722.77-1.722 1.723v20.555c0 .952.772 1.723 1.723 1.723h8.56c.95 0 1.72-.77 1.72-1.723l.002-18.798zm-11.003.5H372v16.042H362v-16.043zm5 18.777c-.415 0-.75-.336-.75-.75s.335-.75.75-.75c.414 0 .75.336.75.75s-.336.75-.75.75z" fill="#fff" fill-rule="evenodd"></path>
                </svg>
              </a>
              <a class="team-member__photo-contact-icons__icon" href="mailto:david@reverbconsulting.com">
                <svg width="24" height="24" viewBox="41 851 24 24" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none" fill-rule="evenodd">
                    <path d="M61 855H45c-1.1 0-1.99.9-1.99 2L43 869c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm0 4l-8 5-8-5v-2l8 5 8-5v2z" fill="#fff"/>
                    <path d="M41 851h24v24H41"/>
                  </g>
                </svg>
              </a>
            </div>
          </div>
          <div id="team-description"  class="team-member__content">
            <h3 class="team-member__content__name">
              David Shaheen - Client Success
            </h3>
            <p class="team-member__content__bio">
              David is a charismatic and detailed oriented worker who gives
              100% in all that he does. Naturally a social butterfly, he enjoys
              any task that involves communicating, interacting, and meeting
              with people. His love for people is the foundation of his
              dedication to his work and his clients. His goal in any situation
              is to ‘make things work’, whether that involves overcoming
              obstacles or thinking of new ways to meet all of a client's needs
              in the best way. David is responsible for managing our clients
              and ensuring each client views their interaction with Reverb
              Consulting as a success. Outside of work, David enjoys spending
              time with family, reading, and mastering any board game that
              comes his way.
            </p>
          </div>
        </div>

        <div class="team-member">
          <div class="team-member__photo">
            <div class="team-member__photo-img">
              <img
                class="image"
                src="https://s3.amazonaws.com/reverb-consulting-website/IMG_0831.jpg"
                alt=""
              />
            </div>
            <div class="team-member__photo-contact-icons">
              <a class="team-member__photo-contact-icons__icon" href="#">
                <svg width="14" height="24" viewBox="360 316 14 25" xmlns="http://www.w3.org/2000/svg">
                  <path d="M373.002 319.487v-1.756c0-.95-.77-1.722-1.722-1.722h-8.56c-.95 0-1.722.77-1.722 1.723v20.555c0 .952.772 1.723 1.723 1.723h8.56c.95 0 1.72-.77 1.72-1.723l.002-18.798zm-11.003.5H372v16.042H362v-16.043zm5 18.777c-.415 0-.75-.336-.75-.75s.335-.75.75-.75c.414 0 .75.336.75.75s-.336.75-.75.75z" fill="#fff" fill-rule="evenodd"></path>
                </svg>
              </a>
              <a class="team-member__photo-contact-icons__icon" href="mailto:david@reverbconsulting.com">
                <svg width="24" height="24" viewBox="41 851 24 24" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none" fill-rule="evenodd">
                    <path d="M61 855H45c-1.1 0-1.99.9-1.99 2L43 869c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm0 4l-8 5-8-5v-2l8 5 8-5v2z" fill="#fff"/>
                    <path d="M41 851h24v24H41"/>
                  </g>
                </svg>
              </a>
            </div>
          </div>
          <div id="team-description"  class="team-member__content">
            <h3 class="team-member__content__name">
              Matt Mischuk - Lead Web Designer
            </h3>
            <p class="team-member__content__bio">
              Matt see's the world through the lens of user value. He has an
              incredible gift to look at any process, technical or not,
              and see where friction exists. He's sharp focus on the little
              details allows him to find joy in creating excellent experiences
              no matter how small the element. You will find that he can ensure
              your websites create user bliss and allow you to stand out from
              all competitors. In his free time you can find him spending time
              with his two lovely daughters or carving up the slopes on his
              snowboard.
            </p>
          </div>
        </div>

        <div class="team-member">
          <div class="team-member__photo">
            <div class="team-member__photo-img">
              <img
                class="image"
                src="https://s3.amazonaws.com/reverb-consulting-website/IMG_0948.jpg"
                alt=""
              />
            </div>
            <div class="team-member__photo-contact-icons">
              <a class="team-member__photo-contact-icons__icon" href="#">
                <svg width="14" height="24" viewBox="360 316 14 25" xmlns="http://www.w3.org/2000/svg">
                  <path d="M373.002 319.487v-1.756c0-.95-.77-1.722-1.722-1.722h-8.56c-.95 0-1.722.77-1.722 1.723v20.555c0 .952.772 1.723 1.723 1.723h8.56c.95 0 1.72-.77 1.72-1.723l.002-18.798zm-11.003.5H372v16.042H362v-16.043zm5 18.777c-.415 0-.75-.336-.75-.75s.335-.75.75-.75c.414 0 .75.336.75.75s-.336.75-.75.75z" fill="#fff" fill-rule="evenodd"></path>
                </svg>
              </a>
              <a class="team-member__photo-contact-icons__icon" href="mailto:david@reverbconsulting.com">
                <svg width="24" height="24" viewBox="41 851 24 24" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none" fill-rule="evenodd">
                    <path d="M61 855H45c-1.1 0-1.99.9-1.99 2L43 869c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm0 4l-8 5-8-5v-2l8 5 8-5v2z" fill="#fff"/>
                    <path d="M41 851h24v24H41"/>
                  </g>
                </svg>
              </a>
            </div>
          </div>
          <div id="team-description"  class="team-member__content">
            <h3 class="team-member__content__name">
              Rob Jewer - Business Development
            </h3>
            <p class="team-member__content__bio">
              Rob is a big time problem solver. Things that present challenges
              in the sales community and how to overcome them is what he does
              best and what he thrives on. Rob is also a builder of professional
              relationships and knows how to connect with wide varieties of
              people. Interpersonal skills are a key asset that he possesses
              and he utilizes his skills in this area everyday! You want to
              keep in touch? Rob will be following up with you all the time to
              ensure complete customer satisfaction. Meeting client needs is
              what makes the job exciting for him. Rob is an accomplished
              drummer, video game guru, and a loving husband with two maniacal,
              wonderful kids.
            </p>
          </div>
        </div>

        <div class="team-member">
          <div class="team-member__photo">
            <div class="team-member__photo-img">
              <img
                class="image"
                src="https://s3.amazonaws.com/reverb-consulting-website/IMG_0996.jpg"
                alt=""
              />
            </div>
            <div class="team-member__photo-contact-icons">
              <a class="team-member__photo-contact-icons__icon" href="#">
                <svg width="14" height="24" viewBox="360 316 14 25" xmlns="http://www.w3.org/2000/svg">
                  <path d="M373.002 319.487v-1.756c0-.95-.77-1.722-1.722-1.722h-8.56c-.95 0-1.722.77-1.722 1.723v20.555c0 .952.772 1.723 1.723 1.723h8.56c.95 0 1.72-.77 1.72-1.723l.002-18.798zm-11.003.5H372v16.042H362v-16.043zm5 18.777c-.415 0-.75-.336-.75-.75s.335-.75.75-.75c.414 0 .75.336.75.75s-.336.75-.75.75z" fill="#fff" fill-rule="evenodd"></path>
                </svg>
              </a>
              <a class="team-member__photo-contact-icons__icon" href="mailto:david@reverbconsulting.com">
                <svg width="24" height="24" viewBox="41 851 24 24" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none" fill-rule="evenodd">
                    <path d="M61 855H45c-1.1 0-1.99.9-1.99 2L43 869c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm0 4l-8 5-8-5v-2l8 5 8-5v2z" fill="#fff"/>
                    <path d="M41 851h24v24H41"/>
                  </g>
                </svg>
              </a>
            </div>
          </div>
          <div id="team-description"  class="team-member__content">
            <h3 class="team-member__content__name">
              Jessica Jewer - Client Success
            </h3>
            <p class="team-member__content__bio">
              Jessica is a creative thinker with a passion for writing and film.
              She lives for a challenge and pushing her creative frame of mind.
              No matter what she is confronted with, she is able to see and
              seize the opportunities before her, benefitting every party
              included. In her free time, you can find her enjoying the company
              of her two children and her husband, or decompressing with a good
              book.
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
