---
layout: default
---

<div class="wrapper">
  <div class="dark-bg section-container hero-spacing">
    <div class="content-box">
      <div class="logo-mobile">
        <img class="logo-image" src="{{ site.logo }}">
      </div>
      <h1 class="light-text mb3">
        Passionate about results; Skepical about trends
      </h1>
      <p class="light-text">
        It seems like everyday there is some new digital channel, or social
        media that every business “has” to be on. This can be exhausting to
        keep-up with, but we love it. Our goal is be on-top of all new media,
        evaluating each one with a reazor sharp skpetics knife and decifering
        which will have a true impact on a businesses bottom line, and where it
        is worthwhile investing money.
      </p>
      <a class="btn mb1" href="#form" onclick="goToForm();">WANT TO GRAB COFFEE?</a>
    </div>
  </div>
  <div class="section-container light-bg">
    <div class="content-box m-text">
      <div class="">
        <h2 class="center-text">
          Leadership Team
        </h2>
        <div class="team-member row">
          <div class="team-member-photo">
            <div class="team-member__photo">
              <img class="image" src="https://s3.amazonaws.com/reverb-consulting-website/thomas-hamilton.jpg" alt="" />
            </div>
            <div class="email-icon mt1">
              <a href="mailto:thomas@reverbconsulting.com">
                <svg width="24" height="24" viewBox="41 851 24 24" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none" fill-rule="evenodd">
                    <path d="M61 855H45c-1.1 0-1.99.9-1.99 2L43 869c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm0 4l-8 5-8-5v-2l8 5 8-5v2z" fill="#B81D0E"/>
                    <path d="M41 851h24v24H41"/>
                  </g>
                </svg>
              </a>
            </div>
          </div>
          <div class="team-member-content">
            <h3 class="team-member-content__name">
              Thomas Hamilton
            </h3>
            <p class="team-member-content__bio">
              Thomas is a very strategic and big picture thinker, with a strong
              creative flair. He loves communicating and talking with people,
              and lives to create new and unique marketing strategies. No matter
              what he looks at, he is always able to find a new and creative way
              to create strategy and solve problems while keeping long term goals
              in mind. On day to day he will be the one keeping you up to date,
              and providing digital insights. In his free time you can find him
              playing guitar, enjoying a coffee [or pint] with friends, or
              spending time with his beautiful wife and small puppy.
            </p>
          </div>
        </div>
      </div>
      <div class=" row mt3">
        <div class="team-member-photo">
          <div class="team-member__photo">
            <img class="image" src="https://s3.amazonaws.com/reverb-consulting-website/Screen%2BShot%2B2016-05-15%2Bat%2B3.59.46%2BPM.png" alt="" />
          </div>
          <div class="email-icon mt1">
            <a href="mailto:chris@reverbconsulting.com">
              <svg width="24" height="24" viewBox="41 851 24 24" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                  <path d="M61 855H45c-1.1 0-1.99.9-1.99 2L43 869c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm0 4l-8 5-8-5v-2l8 5 8-5v2z" fill="#B81D0E"/>
                  <path d="M41 851h24v24H41"/>
                </g>
              </svg>
            </a>
          </div>
        </div>
        <div class="team-member-content">
          <h3 class="team-member-content__name">Chris Buscarino</h3>
          <p class="team-member-content__bio">
            An organized and disciplined thinker. He has an incredible ability to
            look at tasks, prioritize them, and execute. The details are never
            missed when Chris is on a task, and clients can be assured that every
            request they make will be well documented, and executed in an efficient
            way. While Chris is a friendly and personable person, he prefers to
            keep to himself and work on tasks. So while you may not hear from him
            often, you will know his work by watching deadlines being met and
            reporting being thorough and efficient. In his free time you will see
            him spending time with his lovely wife and researching credit card
            types and benefits.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-bg section-container">
    <div class="content-box">
      <h2 class="thick light-text center-text">
        Let's get in touch!
      </h2>
      <div class="form-container light-text thin form-text">
        <div class="row">
          <form id="form" action="https://formspree.io/thomas@reverbconsulting.com" method="post">
            <label class="contact-form__label" for="name">
              Hello, my name is
              <input class="contact-form__input"
                type="text"
                name="name"
                value=""
                placeholder="Jim Morrison">
              <span class="form-hide-text">
                , and you
              </span>
            </label>
            <label class="contact-form__label" for="phone">
              <span class="form-hide-text">
                can
              </span>
                reach me by phone at:
                <input class="contact-form__input"
                  type="tel"
                  name="phone"
                  value=""
                  placeholder="905-220-4445">
                </label>
            <label class="contact-form__label" for="email">
              and by email at
              <input class="contact-form__input"
                type="email"
                name="email"
                value=""
                placeholder="Jim@rockandroll.com">
              <span class="form-hide-text">
                .
              </span>
            </label><br>
            <label class="contact-form__select-label" for="why">
              I would like to discuss the following service:
            </label><br>
            <select class="contact-form__select-input" name="why">
              <option value="igital Advertising">
                Digital Advertising
              </option>
              <option value="Websites">
                Websites
              </option>
              <option value="Marketing Automation">
                Marketing Automation
              </option>
              <option value="Software Development">
                Software Development
              </option>
              <option value="Digital Consulting">
                Digital Consulting
              </option>
              <option value="Something else!">
                Something else!
              </option>
            </select>
            <input type="hidden" name="_subject" value="Hot Lead!" />
            <input type="hidden" name="_cc" value="chris@reverbconsulting.com" />
            <input type="text" name="_gotcha" style="display:none" />
            <input class="btn mt4 center normal" type="submit" name="name" value="Let's Talk">
          </form>
        </div>
      </div>
  </div>
</div>
</div>
