---
layout: default
---

<div class="wrapper">
  <section class="section-container call-out__section hero-spacing overflow-h">
    <div class="content-box hero-content column-v-center">
      <div class="logo-mobile">
        <img class="logo-image" src="{{ site.logo }}">
      </div>
      <div class="svg-center mt2">
        <svg width="100" height="92" viewBox="0 0 100 92" xmlns="http://www.w3.org/2000/svg">
          <path d="M27.2727.8095C20.2932.8095 13.28 3.0715 7.9545 8.5c-10.6504 10.857-10.358 27.5952 0 38.4524L50 91.2857l42.0455-44.3333c10.359-10.8572 10.65-27.5953 0-38.4524-10.65-10.4048-27.9864-10.4048-38.6364 0L50 12.119 46.591 8.5C41.2635 3.0714 34.2522.8095 27.2726.8095z" fill="#D52657" fill-rule="evenodd"/>
        </svg>
      </div>
      <h1 class="thick light-text center-text mb0 mt2 text-center">
        We would love to hear from you
      </h1>
      <p class="light-text text-center mb0">
        Feel to email-us at
        <span class="orange-text thick">
          sales@reverbconsulting.com
        </span> <br>
        or simply give us a call at
        <span class="orange-text thick">
          905-220-4445
        </span>
      </p>
      <p class="light-text text-center">
        You can also use the form below!
      </p>
    </div>
  </section>
</div>
