---
layout: default
---
<section class="hp-hero">
  <div class="hp-hero__value-prop">
    <h2 class="hp-hero__value-title">
      honesty &amp; care
    </h2>
    <p class="hp-hero__value-body">
      These are the foundation for success in every business and we take that
      to heart. We are honest about wether we can help up, we care and because
      we care, we work hard and because we work hard, our marketing works.
    </p>
  </div>
  <h1 class="hp-hero__tagline">
    make reverberations <br>
    in the market
  </h1>

  <div class="hp-hero__cta">
    <div class="hp-hero__cta-line"></div>
    <a href="/about" class="hp-hero__cta-button">
      about us
    </a>
  </div>
  <div class="hp-hero__bg">

  </div>
</section>

<section class="hp-intro">
  <div class="hp-intro__container">
    <div class="hp-intro__title">
      what you might <br> want to know
    </div>
    <div class="hp-intro__divider"></div>
    <div class="hp-intro__body">
      <p class="hp-intro__p">
        Reverb Consulting is an Ontario based marketing company with a primary
        focus on website design and digital marketing campaigns. We look to build
        constructive and engaged relationships with you, affording us candour in
        our assessments, transparency in our methodology, and success in our
        efforts.
        <br><br>
        Do you want to know a little more about us?
      </p>
      <a class="hp-intro__btn" href="/about">learn more</a>
    </div>
  </div>
  <div class="">

  </div>
</section>
